body{
    background: linear-gradient(hsl(219, 94%, 6%) 60%,hsl(218, 90%, 8%)) no-repeat;
    color:  hsl(155, 25%, 59%);
    font-family: 'Inter', sans-serif;
    height: 100vh;
    padding: 1rem;
}

h3{
    font-weight: 400;
}

.myForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.empLabel{
    font-size: 14px;
}

input{
    background-color: transparent;
    border: 1px solid hsl(177, 62%, 35%);
    border-radius:2px;
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 0.5rem;
    width:28.125rem;
}

input:focus{
    border: none;
    outline: 2px solid hsl(177, 65%, 45%);
}

#addUserBtn{
    background: linear-gradient(to right,hsl(204, 76%, 53%),hsl(180, 92%, 53%));
    border-radius: 5px;
    border-width: 0;
    color: hsl(0, 0%, 20%);;
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: 0.5rem;
    width:9.375rem;
}

#addUserBtn:hover,.deleteBtn:hover{
    background: transparent;
    border: 2px solid hsl(14, 85%, 57%);
    color: hsl(14, 85%, 57%);
}

#errorMsg{
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    display: none;
}

.employeeContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 60vh;
    width:65%;
    margin-top: 2rem;
    overflow-y: auto;
}

.employeeList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

.empli{
    list-style: none;
}

.empDetails{
    border: 2px solid hsl(177, 62%, 35%);
    border-radius: 5px;
    display: flex;
    padding: 10px;
    gap:1.3rem;
}

.deleteBtn{
    background: linear-gradient(to right,hsl(204, 76%, 53%),hsl(180, 92%, 53%));
    border: 0;
    border-radius: 20px;
    color: hsl(0, 0%, 20%);
    font-size: 1rem;
    padding: 10px;
    height:2.5rem;
    width:9.375rem;
}